body{
    text-align: center;
}
.wrapper{
    width:1500px;
    margin: 50px auto;
    h1{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 65px;
    margin: 0;
    padding-bottom: 25px;
    }
    div{
        font-size: 20px;
    }
    h3{
        font-size: 36px;
    }
    button{
        padding: 10px 0;
        border-radius: 5px;
        font-size: 22px;
        border: none;
        text-transform: uppercase;
        color: #fff;
    }
    .totalWords{
        margin-top: 30px;
    }
}
.inputBox{
    text-align: left;
    label{
        font-size: 22px;
        
    }
    input{
        width: 100%;
        padding: 15px 10px;
        margin: 15px 0;

    }
}
.firstlineButtons{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    button{
        width: 49%;
    }
    .send{
        background-color: #d13f3f;
    }
    .clearList{
        background-color: #808080;
    }
    
}
.test{
    width: 100%;
    display: none;
    background-color: #703870;
    
}
.hiddenpart{
    background-color: #393838;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: 0.5s ease-in-out;
    .back{
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 30px;
        cursor: pointer;
    }  
}
.slide{
    transform: translateY(0);
}
.boxInHidepart{
    @include absmiddle;
    width: 95%;
    h2{
        text-transform: uppercase;
        color: #fff;
        span{
            color: pink;
        }
    }
    input, .compare{
        width: 100%;
        padding: 10px; 
        border-radius: 5px;
        border: none;
    }
    .compare{
        background-color: #d13f3f;
        margin-top: 10px;
        text-transform: uppercase;
        color: #fff;
    }
    .final{
        color: #fff;
        margin-top: 20px;
        font-size: 25px;
    }
    .correctAnswers{
        margin-top: 20px;
        font-size: 20px;
        color: #fff;
    }
}

